<%- include('header') %>
        <div class="fundo">
        <form method="GET" action="/gerador" target="_blank">    
            <input class="bairro" placeholder="ICM - BAIRRO" name="bairro">
            <input class="equipe" placeholder="EQUIPE" name="equipe">
            <input class="modelo" placeholder="MODELO DO CARRO" name="modelo">
            <input class="placa" placeholder="PLACA" name="placa">
            <button class="cadastro">Gerar Cadastro!</button>
        </form>
        </div>

        <h3>Desenvolvido por Vinicius Barboza</h3>
<%- include('footer') %>    